Date Rcvd [autopopulated with todays date, but editable]<br> Source UPI: [enter text here]<br> Target UPI: [enter text here]<br>
Is this information correct? <button type="button" class="btn btn-success btn-sm">Yes</button> <button type="button" class="btn btn-danger btn-sm">No</button>
<p></p>
<table class="table table-bordered">
  <tr>
    <th></th>
    <th>Source</th>
    <th>Target</th>
    <tbody></tbody>
    <tr>
      <td>NAME</td>
      <td>Auto Populated from NOMADS</td>
      <td>Auto Populated from NOMADS</td>
    </tr>
    <tr>
      <td>DOB</td>
      <td>Auto Populated from NOMADS</td>
      <td>Auto Populated from NOMADS</td>
    </tr>
    <tr>
      <td>SSN</td>
      <td>Auto Populated from NOMADS</td>
      <td>Auto Populated from NOMADS</td>
    </tr>
    <tr>
      <td>IV-D NCP</td>
      <td>True/False<br>Auto Populated from NOMADS</td>
      <td>True/False<br>Auto Populated from NOMADS</td>
    </tr>
    <tr>
      <td>IV-D CST</td>
      <td>True/False<br>Auto Populated from NOMADS</td>
      <td>True/False<br>Auto Populated from NOMADS</td>
    </tr>
    <tr>
      <td>IV-D Child</td>
      <td>True/False<br>Auto Populated from NOMADS</td>
      <td>True/False<br>Auto Populated from NOMADS</td>
    </tr>
    <tr>
        <td>FAME Case</td>
        <td>True/False<br>Auto Populated from NOMADS</td>
        <td>True/False<br>Auto Populated from NOMADS</td>
      </tr>
      <tr>
      <td>ICI</td>
      <td>Auto Populated from NOMADS</td>
      <td>Auto Populated from NOMADS</td>
    </tr>
    <tr>
      <td>Is a FAME Case:</td>
      <td>Auto Populated from NOMADS</td>
      <td>Auto Populated from NOMADS</td>
    </tr>
    <tr>
      <td>FAME Case HOH</td>
      <td>Auto Populated from NOMADS</td>
      <td>Auto Populated from NOMADS</td>
    </tr>
</table>
